/* Reset de estilos padrão */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Definindo a paleta de cores */
:root {
    --cor-preta: #000;
    --cor-cinza-claro: #ccc;
    --cor-cinza-escuro: #333;
    --cor-branca: #fff;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: var(--cor-cinza-claro);
    color: var(--cor-cinza-escuro);
}

/* Estilos para a barra de navegação */
.navbar {
    background-color: var(--cor-preta);
    color: var(--cor-branca);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: var(--cor-branca);
}

/* Estilos para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid var(--cor-cinza-claro);
}

th, td {
    border: 1px solid var(--cor-cinza-claro);
    padding: 8px;
    text-align: left;
}

th {
    background-color: var(--cor-cinza-claro);
    font-weight: bold;
}

/* Estilos para links */
a {
    text-decoration: none;
    color: var(--cor-preta);
}

/* Estilização adicional */
h1 {
    margin-top: 20px;
    color: var(--cor-preta);
}

/* Responsividade */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }
}
  