/* Reset de estilos padrão */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Definindo a paleta de cores */
:root {
    --cor-preta: #000;
    --cor-cinza-claro: #ccc;
    --cor-cinza-escuro: #333;
    --cor-branca: #fff;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: var(--cor-cinza-claro);
    color: var(--cor-cinza-escuro);
}

/* Estilos para o menu */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--cor-preta);
    color: var(--cor-branca);
}

.logo img {
    max-width: 100px;
}

.menu a {
    text-decoration: none;
    color: var(--cor-branca);
    margin-right: 20px;
    transition: color 0.3s ease-in-out;
}

.menu a:hover {
    color: var(--cor-cinza-claro);
}

.login img {
    max-width: 30px;
}

/* Estilos para o formulário de login */
.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.cadastro {
    background-color: var(--cor-branca);
    padding: 60px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: var(--cor-preta);
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--cor-cinza-claro);
    border-radius: 5px;
    margin-bottom: 10px;
}

.botao-login {
    background-color: var(--cor-preta);
    color: var(--cor-branca);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Botão Voltar */
#btn-voltar {
    background-color: var(--cor-cinza-escuro);
    color: var(--cor-branca);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
}

h1 {
    color: var(--cor-preta);
    margin-bottom: 20px;
}

.link{
    padding: 15px 0px;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        margin-top: 10px;
    }
}
