/* Definição das cores */
body {
    background-color: #fff; /* Branco */
    color: #333; /* Cinza mais escuro */
}

.product-details {
    display: flex;
}

.images {
    max-width: 1000px; /* Definindo a largura máxima para 40 pixels */
    height: 1400px; /* Definindo a altura máxima para 60 pixels */
    margin-right: 20px;
}

.images img {
    width: 1200px;
    height: 1000px;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.description-box {
    flex: 1;
    border: 1px solid #ccc; /* Adiciona uma borda cinza ao redor da descrição */
    padding: 10px;
    box-sizing: border-box; /* Garante que a borda não aumente o tamanho total do elemento */
}

.description-box h2,
.description-box p {
    margin-bottom: 10px;
}

/* Botão Voltar */
#btn-voltar {
    background-color: var(--cor-cinza-escuro);
    color: var(--cor-branca);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
}

h1 {
    color: var(--cor-preta);
    margin-bottom: 20px;
}

button {
    background-color: #000; /* Preto */
    color: #fff; /* Branco */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #333; /* Cinza mais escuro */
}
