/* Definição das cores */
:root {
    --cor-branca: #fff;
    --cor-cinza-escuro: #333;
    --cor-azul: #007bff;
    --cor-preta: #000;
    --cor-cinza-mais-claro: #666;
    --cor-fundo: #f9f9f9;
    --cor-borda: #e1e1e1;
    --cor-sombra: rgba(0, 0, 0, 0.1);
}

body {
    background-color: var(--cor-branca);
    color: var(--cor-cinza-escuro);
}

.product-details {
    display: flex;
}

.titulo {
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    background-color: var(--cor-cinza-escuro);
    color: var(--cor-branca);
    text-align: center;
    padding: 10px 0;
    position: relative;
}

.titulo h1 {
    font-size: 28px;
    margin: 0;
}

.btn-voltar {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--cor-azul);
    color: var(--cor-branca);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute;
    left: 10px;
    top: 10px;
}

.btn-voltar:hover {
    background-color: #0056b3;
}

.images {
    max-width: 750px;
    margin-right: 20px;
}

.images img {
    width: 100%;
    max-height: 250px;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--cor-sombra);
}


.description-box {
    flex: 1;
    border: 1px solid var(--cor-borda);
    background-color: var(--cor-fundo);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 2px 5px var(--cor-sombra);
}

.description-box h2 {
    font-size: 32px;
    margin: 0 auto 15px;
    color: var(--cor-cinza-escuro);
    font-weight: bold;
    text-align: center;
}


.description-box p {
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--cor-cinza-mais-claro);
}

.description-box button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--cor-azul);
    color: var(--cor-branca);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.description-box button:hover {
    background-color: #0056b3;
}


/* Estilos do rodapé */
footer {
    background-color: var(--cor-cinza-escuro);
    color: var(--cor-branca);
    text-align: center;
    padding: 20px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Estilos para o texto no rodapé */
footer p {
    margin: 0;
}

/* Estilos para links no rodapé */
footer a {
    color: var(--cor-branca);
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--cor-azul);
}

